[Unit]
Description=Air Quality Monitoring System
After=network.target

[Service]
Type=exec
User=dlhnhom2
Group=dlhnhom2
WorkingDirectory=/home/dlhnhom2/air-quality-monitoring
Environment=PATH=/home/dlhnhom2/air-quality-monitoring/venv/bin
ExecStart=/home/dlhnhom2/air-quality-monitoring/venv/bin/gunicorn --config /home/dlhnhom2/air-quality-monitoring/deploy/gunicorn.conf.py wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
